.dashboardMainDiv {
  display: flex;
  /* flex-direction: column; */
}

.dashboardInfo {
  display: flex;
  /* flex-direction: row; */
}
.customCardTileMainDiv {
  display: flex;
  flex-wrap: wrap;
}
