@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.addWords {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 30px;
}
.wordsSelectExel{
  border: 1px solid red;
}
.rowInputWords{
  display: flex;
  flex-direction: row;
}

.createWordsAdd {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.css-wtc9r8-control{
  width: 200px;
}
.css-qbdosj-Input{
  width: 170px;
}
.addWordsFirstSelect{
  margin-bottom: 10px;
  width: 420px;
}
.css-1uwsjis-control{
  width: 420px;
}
.addWordsFirstSelect .antd_custom_select {
  margin: 0;
}

.addWordsFirstSelect .ant-space,
.addWordsFirstSelect .ant-space-item,
.addWordsFirstSelect .ant-select {
  width: 100% !important;
}

.createWordsAddInputs {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; */
}
.audio{
  display: flex;
  width: 100%;
  max-width: 420px;
  flex-direction: row;
  align-items: center;
  border: 1px solid #7D8FB326;
  border-radius: 10px;
  padding: 16px;
}
.voiceUpload{
  width: 420px;
}
.audioListen{
  min-width: 250px !important;
  margin-left: 20px;
}
.inputLeft{
  margin-left: 15px;
}

.bigSelect .ant-select-selection-item{
  color: #7D8FB3 !important;
  margin-bottom: 10px;

}
.bigSelect .ant-select-selector{
  width: 100% !important;
  max-width: 420px;
  background-color: #F7F8FA !important;
  border:none !important;
}
.bigSelect .ant-form-item  {
  width: 100% !important;
  max-width: 420px;
}
.addButtonDiv{
  margin-top: 15px;
}
.createWordsAddInputs .antd_custom_select {
  margin: 0;
}
.createWordsAddInputs .ant-select-selector {
  background-color: white !important;
  border: 1px solid #eaecf0 !important;
}

.createWordsAddInputs .ant-select {
  width: 174px;
}

.antd_custom_select_user .ant-select-selection-item{
  color: #7D8FB3 !important;
}
.createWordsAdd .createWordsAddSelects .ant-select-selector {
  background-color: white !important;
  border: 1px solid #eaecf0 !important;
}

.createWordsRow .ant-form-item {
  width: 202px !important;
}

.createWordsAdd .ant-input {
  height: 50px !important;
}
.custom-upload .ant-upload-list-item{
  width: 100%;
  max-width:420px;
}

.imgae_upload_design_voice{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 420px;
  /* height: 180px; */
  border: 1px solid #7d8fb326;
  border-radius: 10px;
}
.voiceUpload{
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 22px;
  border: 1px solid #7D8FB326;
  border-radius: 10px;
}
.titleVoiceUpload{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #7D8FB359;
  margin-right: 7px;

}
.file-upload {
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: start;
  align-items: start;
  margin: 0;
  padding: 0;
  text-align: start; 

  position: relative;
 cursor: pointer;
}

.file-upload input {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;}