@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.learnLanguageCreateScreenMainDiv {
  justify-content: space-between;
  align-items: start;
}
.title{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  color: #7D8FB3;
}
.rightSection{

display: flex;
flex-direction: row;
justify-content: space-between;
}

.ant-select .ant-select-arrow{
  height: 24px !important;
}

.selectedImage{
  width: 37px;
  height: 37px;
}


.voiceUploadRow{
display: flex;
flex-direction: row;
}

.customSelect .ant-select-selection-placeholder{
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: #7D8FB359;
}

.learningLanguageScreenMainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 50px;
  padding: 60px 82px 30px 82px;
}
.formAntd{
  width: 100% !important;
}
.update-language-right-section{
  width: 100%;
}
.updateSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.learningLanguageScreenLoadingDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.createLearningLangRow{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.learnLanguageUpdateScreenMainDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 50px;
  padding: 47px 94px 47px 94px;
}.marginBottom{
  margin-bottom: 20px;
}

.learningLanguageUpdateFormDiv {
  width: 100%;
}

.learningLanguageScreenAddNewDiv {
  margin-bottom: 28px;
}

.learningLanguageCardItems {
  display: flex;
  flex-wrap: wrap;
}

.learningLanguageScreenPaginationDiv {
  display: flex;
  justify-content: center;
}

.learnLanguageSelectedLanguages {
  width: 100%;
  max-width: 420px;
}
.CustomSpinUpdate{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.inputTitle{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}
.learnLanguageSelectedLanguages .ant-select-selector{
  background-color: white !important;
  border: 1px solid #7D8FB326 !important;
  border-radius: 10px;
}

.selectLanguageValuesDivItem:nth-child(-n +3){
  margin-right: 12px;

}
@media screen and (max-width: 1440px) {
  .learnLanguageUpdateScreenMainDiv {
    padding: 60px 40px 30px 40px;
  }
}
@media screen and (max-width: 1300px) {
  .updateSection{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 100%;
  }
}


@media screen and (max-width: 1024px) {
  .learnLanguageUpdateScreenMainDiv {
    padding: 60px 20px 30px 20px;
  }
  .learningLanguageScreenSubDiv {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .learningLanguageCardItems {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .learningLanguageScreenMainDiv {
    padding: 60px 40px 30px 40px;
  }
  .learningLanguageScreenSubDiv {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
  .learningLanguageCardItems {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 425px) {
  .learnLanguageUpdateScreenMainDiv {
    display: flex;
    /* flex-direction: column !important; */
    flex-flow: column-reverse !important;
    align-items: center;
    padding: 60px 10px 30px 10px;
  }
  .selectedNativeItem{
    width: 100%;
    max-width: 420px;
  }
 
  .learnLanguageSelectedLanguages {
    display: flex;
    flex-direction: column;
  }
  .selectLanguageValuesDivItem .selectLanguageValuesDivItem{
    width: 100%;
  }
  .selectLanguageMainDiv {
    width: 100%;
    margin-bottom: 20px;
  }
}
