.wordsScreenMainDiv {
  padding: 60px 70px 30px 70px;
}

.wordsScreenTable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.radioRowSection{
  display: flex;
  flex-direction: row;
}
.radioItem{
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 2px;
}
                  
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}
                  
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.filterDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 40px 0 10px 0; 
}
.statusGroupWords{
  display: flex;
  flex-direction: column;
  width: 130px;
  margin-right: 25px;
  height: 130px !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.radio{
  margin: 3px 0;
}
.filterSection{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 640px !important;
}
.wordsScreenAddFields {
  display: flex;
}

.container {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.wordsScreenTitle {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  color: "#000000";
}

.wordScreenSelectsDiv {
  display: flex;
  flex-wrap: wrap;
}
.antd_custom_select_user {
  margin-right: 16px;
  margin-left: 0;
}
.wordsSearchInput {
  min-height: 60px;
}

.wordsPagination {
  display: flex;
  justify-content: center;
}

.wordsCreateScreen {
  display: flex;
  flex-direction: row;
}

.wordsCreateAddWords {
  /* width: 45%; */
  /* height: 100%; */
}

.wordsCreateForm {
  width: 100%;
  /* height: 90%; */
}

.wordScreenSelectsDiv .ant-select{
  width: 180px !important;
  height: 60px !important;
}


.wordScreenSelectsDiv .ant-select-selector{
  background-color: #F7F8FA !important;
}
.wordScreenSelectsDiv .ant-select-selection-item{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
color: #7D8FB3 !important;  
}

.wordsCreateTranslate {
  border: 1px solid purple;
  width: 45%;
  height: 100%;
}

@media only screen and (max-width: 1440px) {
  .wordScreenSelectsDiv {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1024px) {
  .wordScreenSelectsDiv {
    margin-bottom: 20px;
  }
  .wordsScreenMainDiv {
    padding:60px 25px 30px 25px;
  }
}

@media only screen and (max-width: 768px) {
  .wordsScreenMainDiv {
    padding:60px 20px 30px 20px;
  }
  
}

@media only screen and (max-width: 425px) {
  .wordsScreenMainDiv {
    display: flex;
    align-items: center;
  }
  .wordsScreenAddFields {
    flex-direction: column;
  }
  .column-id,
  .column-email,
  .column-device-id {
    display: none;
  }
}
