.selectLanguageTitle {
  margin-bottom: 25px;
}

.selectLanguageMainDiv .ant-select {
  width: 100% !important;
}

.ant-select-selector{
  min-height: 60px;
  border-radius: 10px;
}
.selectLanguageValuesDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ant-select.ant-select-in-form-item {
  width: 100%;
  max-width:  420px !important;
}
.selectedNativeItem{
  width: 418px;
  display: flex;
  flex-wrap: wrap;
}
.selectLanguageValuesDivItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 100%;

  max-width: 195px;
  height: 60px;
  /* margin-right: 10px; */
  margin-top: 16px;
  border-radius: 10px;
}

.selectedLanguageName {
  font-size: 14px;
}

.deleteIcon {
  display: flex;
  justify-content: center;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -4px;
  right: -9px;
  background-color: red;
  color: white;
  font-weight: 600;
}
