 .uploadExel{
   width: 425px;
  height: 60px ;
}
.addWordExel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addWordExel .ant-select{
    width: 420px !important;
    height: 60px !important;
  }
  
  
  .addWordExel .ant-select-selector{
    background-color: #F7F8FA !important;
  }
  .addWordExel .ant-select-selection-item{
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    line-height: 25px;
  color: #7D8FB3 !important;  
  }
  .wordExelAdd{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

.addWordExel  .ant-upload-list-item{
  height: 60px ;
    }

    @media only screen and (max-width: 1024px) {
      .addWordExel {
flex-direction: column;
      }
    
        .ant-select.ant-select-in-form-item
      {

width: 100% !important;
max-width: 420px !important;
      }
     
    }
    @media only screen and (max-width: 425px) {

    .uploadExel{
      width: 100%;
      max-width: 420px;
    }
  }