.update-words-section{
    display: flex;
    flex-direction: column;
}

.lerning-language-section{
    width: 100%;
    max-width: 420px;
}

.updateWordsAddInputs .ant-select{
width: 202px;
}

.updateWordsAddInputs .ant-input{
   width: 203px !important;
}

.updateWordsAddInputs .ant-form-item-explain-error{
    width: 203px !important;
}

.ant-input-status-error{
    border-color:#7d8fb326  !important;
}

.update-words-row{
    display: flex;
    flex-direction: row;
}
@media only screen and (max-width: 1024px) {
    .update-words-row{
        flex-direction: column;
    }
    
    .updateWordsAddInputs .ant-select{
        max-width: 420px;
        }
        
        .updateWordsAddInputs .ant-input{
            max-width: 420px !important;
        }
        
        .updateWordsAddInputs .ant-form-item-explain-error{
            width: 100% !important;
            max-width: 420px !important;
        }
}
@media only screen and (max-width: 768px) {
    .updateWordsAddInputs .ant-select{
        width: 100%;
        max-width: 420px;
        }
        
        .updateWordsAddInputs .ant-input{
            width: 100% !important;
            max-width: 420px !important;
        }
        
        .updateWordsAddInputs .ant-form-item-explain-error{
            width: 100% !important;
            max-width: 420px !important;
        }
}
@media only screen and (max-width: 425px) {
    .updateWordsAddInputs .ant-select{
        width: 100%;
        max-width: 420px;
        }
        
        .updateWordsAddInputs .ant-input{
            width: 100% !important;
            max-width: 420px !important;
        }
        
        .updateWordsAddInputs .ant-form-item-explain-error{
            width: 100% !important;
            max-width: 420px !important;
        }
}