.update-words-section {
    display: flex;
    flex-direction: column;
}

.lerning-language-section {
    width: 100%;
    max-width: 420px;
}

.updateWordsAddInputs .ant-select {
    width: 202px;
}

.css-cncfr4-control {
    width: 200px;
}

.updateWordsAddInputs .ant-input {
    width: 203px !important;
}

.antd_custom_select_user {
    width: 206px;
}

.css-1uwsjis-control {
    width: 420px;
}

.updateWordsAddInputs .ant-form-item-explain-error {
    width: 203px !important;
}

.updateTitle {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

}
.css-1jqq78o-placeholder{
color: #7D8FB359 !important;
}

.categoryLeft{
    margin-left: 15px;
}
.wordsTitle {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.wordsInputTitle {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: #7D8FB3;
}

.ant-input-status-error {
    border-color: #7d8fb326 !important;
}

.update-words-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
    .update-words-row {
        flex-direction: column;
    }

    .updateWordsAddInputs .ant-select {
        max-width: 420px;
    }

    .updateWordsAddInputs .ant-input {
        max-width: 420px !important;
    }

    .updateWordsAddInputs .ant-form-item-explain-error {
        width: 100% !important;
        max-width: 420px !important;
    }
}

@media only screen and (max-width: 768px) {
    .antd_custom_select_user {
        width: 420px;
    }

    .updateWordsAddInputs .ant-select {
        width: 100%;
        max-width: 420px;
    }

    .css-wtc9r8-control {
        width: 420px;
    }

    .updateWordsAddInputs .ant-input {
        width: 100% !important;
        max-width: 420px !important;
    }

    .updateWordsAddInputs .ant-form-item-explain-error {
        width: 100% !important;
        max-width: 420px !important;
    }
}

@media only screen and (max-width: 425px) {
    .updateWordsAddInputs .ant-select {
        width: 100%;
        max-width: 420px;
    }

    .updateWordsAddInputs .ant-input {
        width: 100% !important;
        max-width: 420px !important;
    }

    .updateWordsAddInputs .ant-form-item-explain-error {
        width: 100% !important;
        max-width: 420px !important;
    }
}